<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('fragments/global-head.ejs') %>
    <title>how to install</title>
</head>
<body>

    <%- include('fragments/header.ejs') %>

    <main>
        <div>
            <h1>how to install <em>untitled social</em> as a web app on your phone!!</h1>
            <h2>ios</h2>
            <ol>
                <li>open this webpage in Safari.</li>
                <li>tap the share button at the bottom of the screen to open the share menu.</li>
                <li>scroll down and select <em>Add to Home Screen</em>.</li>
                <li>tap <em>Add</em> in the top right corner to add the app.</li>
            </ol>
            <h2>android</h2>
            <ol>
                <li>open this webpage in Chrome.</li>
                <li>tap the menu button (three dots) in the top right corner.</li>
                <li>scroll down and select <em>Install app</em>.</li>
                <li>tap <em>Install</em> in the bottom right corner to add the app.</li>
            </ol>
            <p>you can now use <em>untitled social</em> as a mobile app!</p>
        </div>
    </main>
    
</body>

</html>