:root {
    --line-height: 1.4rem;
    --max-post-width: 30rem;
    --max-img-height: 30rem;

    --theme-color: #4f8ac9;

    --post-bg: rgb(250, 250, 250);
    --post-border: black;
    --album-bg: var(--theme-color);
}

body, html {
    margin: 0;
    font-family: sans-serif;
    line-height: var(--line-height);
}

/* styling */

.grow {
    flex-grow: 1;
}

.hidden {
    display: none;
}

details summary {
    cursor: pointer;
}

dialog {
    border: 2px dotted var(--theme-color);
    color: var(--theme-color);
    padding: 3rem;
    text-align: center;
}

input, textarea, button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: var(--line-height);
}

a, a:visited {
    color: var(--theme-color);
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;

    border: none;
    background: none;
    padding: 0;
}
a:hover, a:active {
    background: var(--theme-color);
    color: white;
    text-decoration: none;
}

em {
    font-style: normal;
    font-weight: bold;
}

*::selection {
    background: var(--theme-color);
    color: white;
}

button, input[type="button"], input[type="submit"] {
    border: 1px solid var(--theme-color);
    padding: .5em;
    color: var(--theme-color);
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
    background: transparent;
}
button:hover, button:active,
input[type="submit"]:hover, input[type="submit"]:active,
input[type="button"]:hover, input[type="button"]:active {
    background: var(--theme-color);
    color: white;
    text-decoration: none;
}

/*Range Reset*/
input[type="range"] {
    background: transparent;
    cursor: pointer;
    width: 100%;
}

input[type="range"]:focus {
    outline: none;
}

/* slider track */
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-progress {
    background-color: black;
    border-radius: 0.5rem;
    height: 0.5rem;  
}

input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    background-color: white;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

input[type="range"]:focus::-webkit-slider-thumb,
input[type="range"]:focus::-moz-range-thumb {
    border: none;
    outline: 2px dotted white;
    outline-offset: 2px;
}

input[type="range"]::-moz-range-progress {
    background-color: lightgray;
}

/* layout */

main {
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.posts-list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: .25em;
    font-family: monospace;
    width: 100%;
    box-sizing: border-box;
}

/*  */

header {
    padding: 1rem;
    border-bottom: 2px dotted var(--theme-color);

    display: flex;
    gap: .5em 2em;
    flex-wrap: wrap;
    align-items: center;
}
header a {
    text-align: center;
}

header > .grow {
    text-align: left;
}

.index-button::after {
    content: "ndex";
}
.new-post-button::after {
    content: " new post";
}

footer {
    border-top: 2px dotted var(--theme-color);
    padding: 1em;
}
footer a {
    font-family: monospace;
    font-size: 1rem;
}
footer pre {
    margin: 0;
}
nav {
    display: flex;
    gap: 2em;
}