.indexed-post {
    background: var(--post-bg);
    border: 1px solid var(--post-border);
    padding: 0 .5em;
    display: flex;
    gap: 1em;
    font-family: monospace;
    box-sizing: border-box;
}

.indexed-post .title {
    width: 100%;
}