.indexed-post {
    border: 1px dotted var(--post-border);
    padding: 2px 1em;
    display: flex;
    gap: 1em;
    font-family: monospace;
    box-sizing: border-box;
}

.indexed-post .title {
    width: 100%;
    word-break: break-all;
}