main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5em;
}
main:has(.post) > div:first-child {
    max-width: 50%;
    padding-bottom: 50vh;
}

.post {
    width: fit-content;
    min-width: 10em;
    max-width: var(--max-post-width);
}

main > div:first-child button, main a {
    color: black;
    border-color: black;
}
main a:hover, main a:active,
main > div:first-child button:hover, main > div:first-child button:active {
    background-color: lightgray;
}

label, .replying-to, .options, .buttonbar, .drop-zone {
    font-family: monospace;
}

input::placeholder, textarea::placeholder {
    color: gray;
}

input[type="text"], textarea {
    border: 1px dotted black;
    padding: .5em;
    border-radius: 0;
}

input[type="text"]:focus, textarea:focus {
    border-style: solid;
    outline: none;
}

input[type="text"] {
    width: 20ch;
}

input[type="file"] {
    display: none;
}

/* post builder */

#post-builder {
    width: var(--max-post-width);
    box-sizing: border-box;
}

.buttonbar {
    margin-top: .25rem;
    display: flex;
    gap: 1ch;
    max-width: var(--max-post-width);
    align-items: center;
}

.block .options {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(.25rem, 0);
    display: flex;
    flex-direction: column;
    gap: .25rem;
    flex-wrap: wrap;
    max-height: 100%;
}
.block .options button {
    height: 1.5em;
    width: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea {
    width: 100%;
    min-height: 10ch;
    resize: vertical;
    box-sizing: border-box;
    margin: 0;
}

/* upload block */

.block.upload .center {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.file-upload-form input[type="button"] {
    margin-top: .25em;
}
.drop-zone {
    width: 100%;
    height: 6em;
    border: 1px dotted black;
    position: relative;
    box-sizing: border-box;
}
.drop-zone.dragover {
    border-style: solid;
}

/* record block */

.rec .wrapper {
    font-family: monospace;
    box-sizing: border-box;
    margin: auto;
    padding: .5em;
    border: 1px dotted black;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: center;
}
.rec img {
    height: 10em;
}

.rec.recording .wrapper {
    border-color: red;
}
.rec .wrapper button {
    display: none;
}
.rec.recording .wrapper button {
    border-color: red;
    color: red;
    display: block;
}

.draw {
    text-align: center;
}
.draw canvas {
    border: 1px dotted black;
}
.draw .buttons {
    position: absolute;
    top: 0;
    left: 0;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.draw .buttons button {
    background: white;
    border: 1px dotted black;
    width: 5em;
}
.draw .buttons button img {
    vertical-align: middle;
}
.draw .buttons button.selected {
    border-style: solid;
}

@media only screen and (max-width: 767px) {
    main {
        flex-direction: column;
    }
    main > div:first-child {
        padding: 0 1em;
        padding-bottom: 0;
        max-width: unset;
    }
    .post {
        max-width: unset;
    }
    #post-builder {
        max-width: calc(100% - 1em);
    }
}