.post {
    background: var(--post-bg);

    width: fit-content;
    max-width: var(--max-post-width);
    min-width: 10em;
    word-break: break-word;
}

.post > div {
    padding: .5em;
    border: 1px solid var(--post-border);
    border-bottom: 1px dotted var(--post-divider);
}
.post > div:not(:first-child) {
    border-top: none;
}
.post > div:last-child {
    border-bottom: 1px solid var(--post-border);
}

.metadata, .reply {
    font-family: monospace;
    padding: .5em 1em;
    display: flex;
    gap: 0 2em;
}
.reply {
    flex-wrap: wrap;
}

.metadata > a {
    white-space: nowrap;
}

.post .content {
    padding: 1em;
}

/* blocks */

.block {
    position: relative;
    width: 100%;
    margin-bottom: .25rem;
}

.text, .audio, .image {
    line-height: 0;
}

/* media */

.image {
    text-align: center;
}
img {
    max-width: 100%;
    max-height: var(--max-img-height);
}

.audio audio {
    width: 100%;
}

/* album block */

.album {
    background: white;
    padding-bottom: .25rem;
}
.slides-wrapper {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.slides {
    height: var(--max-img-height);
    display: flex;
    align-items: center;
}
.slides > div {
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
}
.album:hover .navigation {
    display: flex;
}

.counter, .navigation {
    font-size: .8em;
    pointer-events: none;
    position: absolute;
}

.navigation {
    top: 50%;
    left: 0;
    width: 100%;
    display: none;
    justify-content: space-between;
    transform: translate(0, -50%);
}
.navigation button {
    color: white;
    background: black;
    opacity: .5;
    pointer-events: all;
}

.counter {
    top: 0;
    right: 0;
    padding: .25em .5em;
    border-radius: 2em;
    margin: .5em;
    font-family: monospace;
    background: black;
    color: white;
    opacity: .5;
}

.read-more {
    font-family: monospace;
}