.post {
    width: var(--max-post-width);
    word-break: break-word;
    border: 1px solid var(--post-border);
    background: var(--post-bg);
}

.post table {
    width: 100%;
    font-family: monospace;
    margin-left: .5em;
    margin-right: .5em;
    width: calc(100% - 1em);
}
.post table td {
    padding: 0;
    padding-left: .5em;
    padding-right: .5em;
    white-space: nowrap;
    vertical-align: top;
}
.post table td:nth-child(2) {
    white-space: wrap;
    width: 100%;
}
.post table td:first-child {
    padding-left: 0;
    width: 3em;
}
.post table td:last-child {
    padding-right: 0;
}

table .flex {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    box-sizing: border-box;
}
table .flex > *:last-child {
    white-space: nowrap;
}

.content {
    padding: 1em;
}
.content em {
    font-style: italic;
    font-weight: normal;
}

/* blocks */

.block {
    position: relative;
    width: 100%;
    margin-bottom: .25rem;
}

.post .block {
    margin-bottom: 0;
}

.text, .audio, .image, .video {
    line-height: 0;
}

/* media */

.image, .video {
    text-align: center;
    cursor: pointer;
}
.image img, .video video {
    width: 100%;
}

.not-loaded img {
    background: var(--post-border);
    min-height: var(--max-post-width);
}
.not-loaded .doodle {
    background: transparent;
    min-height: unset;
}

.image .doodle {
    aspect-ratio: 1;
    cursor: default;
}

.audio audio {
    width: 100%;
}

.audio .controls {
    border: 1px solid var(--post-border);
    display: flex;
    gap: 1.5em;
    font-family: monospace;
    align-items: center;
    width: 100%;
    height: 5em;
    padding: 1.5em;
    box-sizing: border-box;
}
.content > .audio:last-child .controls {
    border-bottom: none;
}
.content > .audio .controls {
    border-left: none;
    border-right: none;
    height: unset;
}
.audio div {
    white-space: nowrap;
}
.audio .icon-button img {
    height: 1.5em;
    width: 2em;
}
.icon-button.play-button img {
    height: 1.2em;
    display: none;
}
.play-button.playing .pause-icon,
.play-button.paused .play-icon {
    display: block;
}

/* album block */

.slides-wrapper {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    background: var(--album-bg);
}
.slides {
    display: flex;
    align-items: center;
}
.slides > div {
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
}
.album:hover .navigation {
    display: flex;
}

.counter, .navigation {
    font-size: .8em;
    pointer-events: none;
    position: absolute;
}

.bubbles {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    padding-bottom: 1em;
}
.bubbles > div {
    margin-left: 5px;
    width: 5px;
    height: 5px;
    background: var(--album-bubbles);
    border-radius: 50%;
    transition: width 200ms, height 200ms, margin-left 200ms;
}
.bubbles > div.selected {
    background: var(--theme-color);
}
.bubbles > div.small {
    width: 3px;
    height: 3px;
}
.bubbles > div.hidden {
    display: block;
    width: 0px;
    height: 0px;
    margin-left: 0px;
}

.counter {
    top: 0;
    right: 0;
    padding: .25em .5em;
    border-radius: 2em;
    margin: .5em;
    font-family: monospace;
    color: var(--dark-mode-color);
    background: rgba(0, 0, 0, .7);
}

.read-more, .post-not-live-banner {
    font-family: monospace;
}

.post-not-live-banner {
    border: 1px solid var(--alert-color);
    padding: .5em
}
.post-not-live-banner em {
    color: var(--alert-color);
}

.content > .image,
.content > .audio,
.content > .video,
.content > .album {
    margin-left: -1em;
    width: calc(100% + 2em);
}
.content > .image:first-child,
.content > .audio:first-child,
.content > .video:first-child,
.content > .album:first-child {
    margin-top: -1em;
}
.content > .image:last-child,
.content > .audio:last-child,
.content > .video:last-child,
.content > .album:last-child {
    margin-bottom: -1em;
}

.image-dialog {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    overflow: hidden;
    background: var(--dialog-backdrop);
}
.image-dialog img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}