.post {
    background: rgb(242, 242, 242);

    width: fit-content;
    max-width: var(--max-post-width);
    min-width: 10em;
    word-break: break-word;
}

.post > div {
    padding: 1em;
    border: 1px solid rgb(230, 230, 230);
    border-bottom: 1px dotted rgb(129, 129, 129);
}
.post > div:not(:first-child) {
    border-top: none;
}
.post > div:last-child {
    border-bottom: 1px solid rgb(230, 230, 230);
}

.metadata, .reply {
    font-family: monospace;
    padding: .5em 1em;
    display: flex;
    gap: 0 2em;
}
.reply {
    flex-wrap: wrap;
}

.metadata > a {
    white-space: nowrap;
}

/* blocks */

.block {
    position: relative;
    width: 100%;
    margin-bottom: .25rem;
}

.text, .audio, .image {
    line-height: 0;
}

/* media */

.image {
    text-align: center;
}
img {
    max-width: 100%;
    max-height: var(--max-img-height);
}

.audio audio {
    width: 100%;
}

/* album block */

.album {
    background: lightgray;
}
.slides {
    height: var(--max-img-height);
    display: flex;
    align-items: center;
    justify-content: center;
}
.slides > div {
    display: none;
}
.slides > div:first-child {
    display: block;
}
.navigation {
    margin-top: .25rem;
    width: var(--max-post-width);
    text-align: center;
    font-family: monospace;
}

.navigation a:hover, .navigation a:active {
    background-color: black;
    color: white;
}
.navigation a {
    color: black;
    border-color: black;
}

.read-more {
    font-family: monospace;
}