@media only screen and (max-width: 767px) {
    main {
        padding: 2em 0;
    }
    main, nav {
        text-align: center;
    }
    nav {
        justify-content: space-between;
    }
    main > div {
        text-align: left;
    }
    .post, .posts-list {
        max-width: unset;
        width: 100% !important;
    }
    .posts-list {
        padding: .5em;
        box-sizing: border-box;
    }

    .post table {
        margin-left: .5em;
        margin-right: .5em;
        width: calc(100% - 1em);
    }
}

@media only screen and (max-width: 500px) {
    .index-button::after {
        content: "";
    }
}

@media only screen and (max-width: 430px) {
    .new-post-button::after {
        content: " post"
    }
}

@media only screen and (max-width: 350px) {
    .new-post-button::after {
        content: ""
    }
}