header {
    margin-top: env(safe-area-inset-top);
    margin-right: env(safe-area-inset-right);
    margin-left: env(safe-area-inset-bottom);
}

main {
    margin-right: env(safe-area-inset-right);
    margin-left: env(safe-area-inset-bottom);
}

footer {
    margin-bottom: env(safe-area-inset-bottom);
    margin-right: env(safe-area-inset-right);
    margin-left: env(safe-area-inset-bottom);
}

@media only screen and (max-width: 767px) {
    main, footer {
        text-align: center;
    }
    nav {
        justify-content: space-between;
    }
    main > div {
        text-align: left;
    }
    footer > div {
        justify-content: center;
    }
    .post, .posts-list {
        max-width: unset;
        width: 100% !important;
    }
}

@media only screen and (max-width: 500px) {
    .index-button::after {
        content: "";
    }
}

@media only screen and (max-width: 430px) {
    .new-post-button::after {
        content: " post"
    }
}

@media only screen and (max-width: 350px) {
    .new-post-button::after {
        content: ""
    }
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --bg: #1b1b1c;
        --color: #e8e8e8;
        --theme-color: #4bb1f4;
        --post-bg: #1b1b1c;
        --post-border: rgba(255, 255, 255, .3);
        --normal-button-active-color: var(--post-border);
    }

    .doodle {
        filter: invert(.9);
    }
} */