<pre style="display: none" id="root"><%= root %></pre>

<header>
    <a href="<%= root %>">untitled social</a>
    <a href="<%= root %>new" class="new-post-button">+</a>
    <div class="grow">for us</div>
    <a href="<%= root %>posts" class="index-button">i</a>
</header>